#hilo-japprpt {
	padding:10px;
}
#tblJappList thead {
	background-color:#FFF;
}
#tblJappList tbody tr:nth-child(odd) {
	background-color:rgba(120,120,120,.9);
	color:#fff;
}
#tblJappList tbody tr:nth-child(even) {
	background-color:rgba(200,200,200,.9);
}
#tblJappList th {
	font-weight:bold !important;
}